@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
:root {
    --blue: #03065a;
    --dark: #080808;
    --navy: #000020;
    --azure: #c4e1ff;
    --forest: #0b6623;
    background: var(--navy);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    overflow-x: hidden;
}

/* -------------------------------------------- HOME BODY ----------------------------- */
#home-body {
    position: relative;
    background: url("./images/img13.jpeg") center center/cover no-repeat;
    height: 100vh;
}
.center {
    margin: auto;
    text-align: center !important;
    padding: 1.5rem;
}
#time {font-size: 4rem;}
#time, #date {
    color: #fff;
    font-weight: 400;
}
.searchbox {
    margin: auto;
    padding: 2.5rem;
    text-align: center;
}
#logo {
    font-size: 6rem;
    font-weight: 400;
    color: azure;
    padding-bottom: 1.5rem;
}
.primary-overlay {
    background: rgba(0, 0, 10, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.form-control {
    height: 3rem;
    border-radius: 2px;
}
.search-btn-bg {
    background: rgba(0, 0, 10, .6);
    width: 11rem;
    height: 11rem;
    border-radius: 5.5rem;
    margin: auto;
    align-items: center;
}
.search-btn {
    margin-left: 0px;
    border-radius: 0px;
}
.fas1 {padding: 2.1rem;}

/* -------------------------------------------- RESULTS PAGE -------------------------------------------------------- */
#results-logo {
    font-size: 2rem;
    font-weight: 400;
    color: var(--blue);
    padding-right: 1rem;
    color: var(--azure);
}
#results-header {
    background: var(--blue);
    padding: 1rem;
}

.previews {
    border: none;
    margin: 1rem;
}
.previews:hover { box-shadow: 1px 1px 3px 1px rgba(0, 0, 10, .2);}
.link { color: var(--forest); }
.preview { font-size: .9rem; }

footer {
    background: var(--dark);
    height: 3rem;
    padding: 1rem;
    text-align: right;
}
/* ------------------------------------------------------------------------------------------------------------------ */